<h1><%= @plan_session.title %></h1>

<p>
  Timeframe: <strong><%= @plan_session.window_type %></strong><br>
  Dates: <strong><%= @plan_session.start_date %></strong> to <strong><%= @plan_session.end_date %></strong>
</p>

<hr>

<h3>Invite</h3>
<p>Token: <strong><%= @invite_link.token %></strong></p>
<p>Join link: <%= join_url(token: @invite_link.token) %></p>
