<div style="max-width: 760px; margin: 0 auto; padding: 1rem;">
  <h1>Sign up</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <em>(6 characters minimum)</em><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
    </div>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, class: "input" %>
    </div>

    <div class="actions" style="margin-top: 1rem;">
      <%= f.submit "Sign up", class: "contrast" %>
    </div>
  <% end %>
</div>
